/* .color-changer-section{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.button{
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
  
}

.button-container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

#grey{
    background-color: grey;
}
#white{
    background-color: whitesmoke;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}